* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

nav {
    padding: 10px 60px;
}

.nav-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}


.menu ul{
    display: flex;
    gap: 24px;
    align-items: center;
    list-style: none;
    

}

.menu ul li a{
    cursor: pointer;
    text-decoration: none;
    color:#575757;

}

.menu ul li a:hover{
    color: #2258ed;
}


.register-button {
    width: 150px;
    padding: 10px 28px;
    background-color: #1D4ED8;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.btn {
    color: white;
    font-weight: 600;
}

.register-button a {
    text-decoration: none;
}



.hero {
    width: 100%;
    height: 650px;
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.771), rgba(0, 0, 0, 0.037)), url('assets/banner.jpg');
    background-size: cover;
    background-position: center;
}


.hero-container {
    /* width: 1320px; */
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 180px;

}


.hero-content {
    padding: 100px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 30px;
}


.hero-content h1 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

.hero-content p {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    max-width: 630px;
}



.speaker-container {
    width: 90vw;
    padding: 80px 60px;
    text-align: center;
    margin: 0 auto;
}

.container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    
}

.speaker-container h1 {
    font-size: 40px;
    font-weight:bolder;
    margin-bottom: 40px;
}

.speaker-card {
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #E5E7EB;
}


.speaker-image {
    width: 100%;
    height: auto;
    display: block;
}


.speaker-content {
    padding: 24px;
    height: 136px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.speaker-content p {
    font-size: 14px;
    color: #2563EB;
}


.speaker-content .company {
    font-size: 14px;
    color: #575757;
}




.price-section {
    width: 100%;
    height: 750px;
    margin-top: 50px;
    
}



.price-container {
    width: 90vw;
    padding: 0px 60px 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
 
}



.price-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.price-content h1 {
    color: #0D1B2A;
    font-size: 35px;
    font-weight: bolder;

}


.price-content p {
    color: #575757;
    font-size: 14px;
    line-height: 1.5;
    max-width: 600px;
    margin: 0 auto;
}


.pricing-cards {
    padding: 48px 0px 60px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 35px;
}


.card {
    width: 330px;
    display: flex;
    flex-direction: column;
    border: 1px solid #E5E7EB;
    padding: 32px;
    gap: 20px;
    border-radius: 12px;
}


.price-info {
    display: flex;
    flex-direction: column;
    
}


.price-info .person {
    font-size: 14px;
    color: #888888;
}



.price-info h2 {
    font-size: 40px;
    font-weight: bolder;
    color: #0D1B2A;
}



/* .features ul li{
    display: flex;
    gap: 10px;
} */


.price-btn {
    margin-top: 10px;
    color:#2563EB;
    border: 1px solid #2563EB;
    background-color: transparent;
    padding: 10px 28px;
    border-radius: 5px;
    font-weight: 600;
}



.pricing-cards #highlighted-card {
    border: 1px solid #2563EB;
    background-color: #0D1B2A;
    color: white;
}



#highlighted-card .price-info p {
    color: #93C5FD;
}

#highlighted-card .price-info .person {
    color: #888888;
}


#highlighted-card .price-info h2 {
    color: white;
}


#highlighted-card .price-btn {
    color: white;
    background-color: #2563EB;
}



.features ul {
    list-style: none;
    padding: 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.features li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.features li::before{
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #2563EB;
    margin-top: 8px;

}


#card3-btn {
    color: #0D1B2A;
    border: 1px solid #0D1B2A;
}
